<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <div id="cathead">
        <ul id="categories"></ul>
    </div>

    <div id="catbody"></div>
    <div id="catlist">
        <h2>All Categories</h2>
    </div>

    <div>
        <a href="/news">News</a>
        <a href="/writer">Writers</a>
        <a href="/category">Categories</a>
        <a href="/manage">Manage</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!--<script type="text/javascript" th:src="@{/javascript/categoryheader.js}"></script>-->
    <script type="text/javascript" th:src="@{/javascript/category.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/dateformat.js}"></script>
</body>
</html>