<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NFTB</title>
</head>
<body>
    <div id="cathead">
        <ul id="categories"></ul>
    </div>

    <h1>News From The Block!</h1>
    <section id="article"></section>
    <section id="newslist">
        <h3>Latest News:</h3>
    </section>
    <div>
        <a href="/news">News</a>
        <a href="/writer">Writers</a>
        <a href="/category">Categories</a>
        <a href="/manage">Manage</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/categoryheader.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/news.js}"></script>
</body>
</html>