<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Site Content</title>
</head>
<body>
    <h1>Manage site content</h1>
    <div id="add-article"></div>
    <div id="add-writer"></div>
    <div id="add-category"></div>

    <div>
        <a href="/news">News</a>
        <a href="/writer">Writers</a>
        <a href="/category">Categories</a>
        <a href="/manage">Manage</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/manage.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/addContent/article-form.js}"></script>
</body>
</html>